<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="@Url.RouteUrlWithCulture("Page", new { page = "index" })" class="navbar-brand">AspNetCore</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="@Url.RouteUrlWithCulture("Page", new { page = "index" })">Home</a></li>
                <li><a href="@Url.RouteUrlWithCulture("Admin", new { controller="menus", action="list", Get="Hello" })">Menus admin</a></li>
                <li><a href="@Url.RouteUrlWithCulture("Page", new {  culture="ru", page="main", Get="Hello" })">Contact</a></li>
            </ul>
        </div>
    </div>
</div>