@model IListVM
@{
    Layout = "_LayoutAdmin";
}

@await Component.InvokeAsync(nameof(BreadcrumbComponent), new { vm = Model.Breadcrumb })

<h1>List</h1>

<a href="@Url.RouteUrlWithCulture("Admin", new { controller="Menus", action="Edit" })">Menus admin</a>

@* -------------------------------------------------------------------------------------------- *@
@section left
{
    @Html.Partial("Admin/_LeftMenu")
}
@section navbar
{
    @Html.Partial("Admin/_NavBar")
}
