@model FilterFieldVM

<div class="form-group">
    <input type="checkbox" class="form-control" id="filter-@Model.Property.Name" />
    <label for="filter-@Model.Property.Name">@Model.Property.Name</label>
</div>