@model IField

<div class="form-group">
    <input type="checkbox" name="@Model.PropertyName" value="@Model.Set" class="form-control" id="filter-@Model.PropertyName" />
    <label for="filter-@Model.PropertyName">@Model.Title</label>
</div>