@model Form
@{
    //var filters = Model.Filters;
    //if (!filters.Any()) { return; }
}

@if (Model.Fields != null)
{
    foreach (var f in Model.Fields)
    {
        <div>
            @f.PropertyName - @string.Join(", ", f.GetValueAsString())
        </div>
    }
}@**@

<form method="get" class="form-inline">
    @foreach (var f in Model.Fields)
    {
        @Html.Partial("Admin/Filter/_Field", f)
    }
    <button type="submit" class="btn btn-default">@Localizer.LocalizeHtml("common.find")</button>
</form>