@model FilterFieldVM

<div class="form-group">
    <label for="filter-@Model.Property.Name">@Model.Property.Name</label>
    <select name="filter.@Model.Property.Name" class="form-control" id="filter-@Model.Property.Name">
        @foreach (var option in Model.SelectOptions)
        {
            <!option @option.Selected value="@option.Value">@option.Title</!option>
        }
    </select>
</div>