@model IField
@{ 
    var Values = Model.GetValueAsString();
    var Default = Model.GetDefaultAsString();
    var value = Values.Any() ? Values[0] : (Default.Any() ? Default[0] : "");
}
<div class="form-group">
    <label for="filter-@Model.PropertyName">@Model.Title</label>
    <input placeholder="@Model.Placeholder" value="@(value)" type="text" name="@Model.PropertyName" class="form-control" id="filter-@Model.PropertyName" />
</div>
