@model FilterFieldVM

<div class="form-group">
    <label for="filter-@Model.Property.Name">@Localizer.Localize(Model.NameKeys)</label>
    <input placeholder="@Localizer.Localize(Model.PlaceholderKeys)" value="@(Model.Values?.Any()==true?Model.Values[0]:Model.Attribute.Default)" type="text" name="filter.@Model.Property.Name" class="form-control" id="filter-@Model.Property.Name" />
</div>
